# Variables de entorno - COPIA este archivo como .env.local y completa los valores

# MongoDB Atlas Connection String
# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://cursosvnzla369_db_user:110489@cluster0.g0y7zsi.mongodb.net/catalogo?retryWrites=true&w=majority&appName=Cluster0
# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=ds0s62fzr
CLOUDINARY_API_KEY=738365791272516
CLOUDINARY_API_SECRET=w8nbmjf6u678lfwkVTAJ5GkccxU
# JWT Secret
JWT_SECRET=andryjosepirelamorillo110489
# Dominio base para subdominios
NEXT_PUBLIC_BASE_DOMAIN=catalogo.dpdns.org